*,
**::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-bg: hsl(0, 0%, 90%);
  --clr-fg: hsl(0, 0%, 100%);
  --clr-txt: hsl(0, 0%, 0%);
  --clr-btn-p: hsl(112, 65%, 70%);
  --clr-btn-s: hsl(11, 65%, 70%);
  --padding: 5rem;
  --padding-mobile: 2rem;
  --header-height: 5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-txt);
  background: var(--clr-bg);
}
